<div class="row">



    <div class="col-sm-9">

        <div  class="push-left well col-sm-3 producto" ng-repeat="producto in productos" ng-class="{'ocultar' : producto.ocultar}">
            
            <h4>{{producto.nombre}}</h4>
            
            <div class="imagen">
                <img ng-src="/imagenes/{{producto.imagen}}" width="50">
            </div>
            
            <div class="precio">{{producto.precio | currency}}</div>
            
            <p>
                 {{producto.descripcion}}
            </p>

            <button class="btn btn-danger" ng-click="comprar(producto)" ng-disabled="producto.ocultar"> Comprar</button>

        </div>

    </div>

    <div class="col-sm-3 carrito">
        
        <h4><i class="fa fa-shopping-cart"></i> Carrito de compras</h4>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="producto in carrito" >
               {{producto.nombre}}
                <strong class="pull-right">{{producto.precio | currency }}</strong>
            </li>
        </ul>

        <h2>Total: ${{total()}}</h2>
        
        

    </div>



</div>